.container--tituloVariedad {
    border-bottom: 2px solid #000;
    margin-bottom: 2rem;
    width: 100%;
}

.paragraph--tituloVariedad {
    font-weight: bold;
    font-family: "Baskerville"!important;
    color: black;
    margin: inherit;
    font-size: 20px;
    margin-bottom: 20px;
}