.paragraph--titulo-contacto {
    font-family: 'Baskervville';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.paragraph--subtitulo-contacto {
    font-size: .7rem;
}

.paragraph--campos-obligatorios {
    margin: 0;
    font-size: .6rem;
}