
@font-face {
    font-family: 'Nunito-Black';
    src: url(assets/fonts/Nunito-Black.ttf), url(assets/fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url(assets/fonts/Nunito-Bold.ttf), url(assets/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url(assets/fonts/Nunito-ExtraBold.ttf), url(assets/fonts/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: 'Nunito-ExtraLight';
    src: url(assets/fonts/Nunito-ExtraLight.ttf), url(assets/fonts/Nunito-ExtraLight.ttf);
}

@font-face {
    font-family: 'Nunito-Light';
    src: url(assets/fonts/Nunito-Light.ttf), url(assets/fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url(assets/fonts/Nunito-Regular.ttf), url(assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url(assets/fonts/Nunito-SemiBold.ttf), url(assets/fonts/Nunito-SemiBold.ttf);
}

