.infoCardTextContainer--info-colecciones {
    width: 100%;
}
.infoCardHeadline--info-colecciones {
    color: white;
    font-family: 'Nunito-Regular';
    font-size: 16px;
}

.infoCardSubhead--info-colecciones {
    color: white;
    font-size: 13px;
}

.infoCardCallActionContainer--info-colecciones :global(.vtex-button),
.infoCardCallActionContainer--info-colecciones :global(.vtex-button) {
    outline: none;
    border-color: transparent;
    background-color: #bcac42 !important;
    color: white;
    width: 130px;
    text-transform: capitalize;
    font-size: 12px;
}

.infoCardCallActionContainer--info-colecciones :global(.vtex-button):focus,
.infoCardCallActionContainer--info-colecciones :global(.vtex-button):hover {
    outline: none;
    border-color: transparent;
    background-color: black !important ;
    color: white;
}

.infoCardHeadline--colecciones-card {
    color: transparent !important;
}
.infoCardSubhead--colecciones-card {
    color: transparent !important;
}

.infoCardCallActionContainer--colecciones-card {
    display: none;
}

:global(.vtex-flex-layout-0-x-flexRow--datos-producto-vinosSemana) .productBrand,
.productDescriptionTitle {
  line-height: 1.4;
  font-weight: 700;
}

:global(.vtex-flex-layout-0-x-flexRow--datos-producto-vinosSemana) .productDescriptionTitle  {
  display: none;
}

@media only screen and (max-width: 1024px) {
    .infoCardTextContainer--colecciones-card {
        min-height: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .imageElement--banner1-vinos-semana,
    .infoCardContainer--infocard-vinos-semana {
        height: 150px !important;
        margin-right: 0;
    }
}
