.container {
    margin: 0;
  }

  .container :global(.vtex-button):hover {
    background: transparent;
  }
  
  
  .container :global(.vtex-button) {
    width: auto;
    height: auto;
    outline: none;
    background: none !important;
  }
  
  .openIconContainer :global(.vtex-button):hover {
    background: transparent;
  }

  .container :global(.vtex-button__label) {
    padding: 0;
  }
  
  .cartIcon {
    color:black;
    width: 27px;
    height: 27px;
  }

  @media only screen and (max-width: 1025px) {
    .openIconContainer{
      padding: 0px !important;
  }

  @media only screen and (max-width: 728px) {
    .openIconContainer{
        padding: 0px !important;
    }
    .cartIcon {
        color:black;
        width: 20px;
        height: 20px;
      }
  }