.imageElementLink--mediosDePagos--image {
    height: 100%;
}

.imageElementLink--mediosDePagos--image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
}

/* BLOQUE TIENDAS */

:global(.vtex-flex-layout-0-x-flexRowContent--contentImg) .imageElementLink{
    text-align: center;
}

.imageElementLink--imgUno {
    width: 300px !important;
}

.imageElement--iconFace {
    width: 20px !important;
}

.searchBarContainer :global(.vtex-styleguide-9-x-noAppearance) {
    font-family: 'Nunito-Regular' !important;
}

@media only screen and (max-width: 1025px) {
    .imageElementLink--mediosDePagos--image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        width: 40px;
        height: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .imageElementLink--imgPgos {
        margin-top: 15px;
    }
    .imageElementLink--imgHablemos {
        margin-top: 15px;
    }
    .imageElementLink--imgUno {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .logoImage {
        width: 122px;
        height: 71px;
    }
    .imageElementLink--imgPgos {
        margin-top: 10px;
    }
    .imageElementLink--imgHablemos {
        margin-top: 9px;
    }

    .imageElementLink--imgUno {
        width: 100% !important;
    }
}
@media only screen and (max-width: 500px) {
    .logoImage {
        width: 100px;
        height: 60px;
    }
    .imageElementLink--mediosDePagos--image {
        width: 30px;
    }
    .imageElementLink--imgPgos {
        width: 30px;
        margin-top: 0px;
    }
    .imageElementLink--imgHablemos {
        width: 30px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .imageElementLink--imgCuotas {
        width: 30px;
        margin-top: -13px;
    }
}

@media only screen and (max-width: 360px) {
    .imageElementLink--mediosDePagos--image {
        width: 30px;
    }
    .imageElementLink--imgPgos {
        width: 30px;
        margin-top: 4px;
    }
    .imageElementLink--imgCuotas {
        width: 30px;
        margin-top: -10px;
    }
    .imageElementLink--imgHablemos {
        width: 30px;
        margin-top: 0px;
    }
}

/* INFO CART HOME */

.infoCardCallActionContainer--info-card-puntos :global(.vtex-button) {
    display: none;
}

.infoCardContainer--info-card-puntos {
    font-family: 'MuseoSans-700';
    height: 246px;
    width: 100%;
}
.infoCardContainer--info-card-test {
    height: 250px;
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
}

.imageElement--banner1-vinos-semana {
    height: 250px;
    border-radius: 10px;
    margin-right: 1rem;
}

.infoCardTextContainer--info-card-test {
    width: 100%;
}
.infoCardHeadline--info-card-test {
    color: white;
    font-family: 'Nunito-Regular';
    font-size: 16px;
}

.infoCardSubhead--info-card-test {
    color: white;
    font-size: 13px;
}

.infoCardCallActionContainer--info-card-test :global(.vtex-button),
.infoCardCallActionContainer--info-card-test :global(.vtex-button) {
    outline: none;
    border-color: transparent;
    background-color: #bcac42 !important;
    color: white;
    width: 130px;
    text-transform: capitalize;
    font-size: 12px;
}

.infoCardCallActionContainer--info-card-test :global(.vtex-button):focus,
.infoCardCallActionContainer--info-card-test :global(.vtex-button):hover {
    outline: none;
    border-color: transparent;
    background-color: black !important ;
    color: white;
}

@media only screen and (max-width: 768px) {
    .infoCardContainer--info-card-test {
        height: auto !important;
        border-radius: 10px;
        margin-left: 10px;
    }
    .infoCardContainer--info-card-puntos {
        margin-top: 20px;
    }
    .infoCardContainer--info-card-test {
        height: 250px !important;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .infoCardHeadline--info-card-test {
        color: white;
        font-family: 'Nunito-Regular';
        font-size: 12px;
    }

    .infoCardSubhead--info-card-test {
        color: white;
        font-size: 9px;
    }

    .infoCardCallActionContainer--info-card-test :global(.vtex-button),
    .infoCardCallActionContainer--info-card-test :global(.vtex-button) {
        outline: none;
        border-color: transparent;
        background-color: #bcac42 !important;
        color: white;
        width: 110px;
        text-transform: capitalize;
        font-size: 9px;
    }
}

.infoCardCallActionContainer--info-card-test :global(.vtex-button) {
    display: none;
}

/* BLOQUE BLOGS */

.imageElement--imgINSTAGRAM {
    margin: auto;
    display: block;
    position: absolute;
    left: 20px;
    top: 65px;
    width: 90%;
}

.imageElement--bannerBodegaMobile {
    display: none;
}

.imageElement--imgHablemos {
    margin-right: 20px;
}

.imageElement--imgINSTAGRAM2 {
    display: none;
}
.imageElement--imgINSTAGRAM3 {
    display: none;
}

@media only screen and (max-width: 1025px) {
    .imageElement--imgINSTAGRAM {
        margin: auto;
        display: block;
        position: absolute;
        left: 30px;
        top: 65px;
        width: 85%;
    }

    .imageElement--bannerEspeciales {
        display: none;
    }
    .imageElement--bannerEspeciales-barencasa {
        display: block !important;
        height: 100% !important;
    }
    .imageElement--bannerBodega {
        display: none;
    }

    .imageElement--bannerBodegaMobile {
        display: block;
        max-width: 694px;
        width: 694px;
        max-height: 814px;
    }
    .imageElement--imgHablemos {
        margin-right: 0px;
    }
}
@media  (max-width: 768px){
    .imageElement--bannerBodegaMobile {
        display: block;
        max-width: 307px;
        width: auto;
        max-height: 814px;
    }
}
.imageElement--bannerEspeciales {
    max-width: 475px;
    max-height: 405px;
    width: 100%;
    height: 100%;
}

/* NEWS*/

.buttonContainer :global(.vtex-button) {
    background: #707070;
    border: none;
    border-radius: 0px 8px 8px 0px;
    margin-left: -14px;
}

.buttonContainer :global(.vtex-button__label) {
    color: white;
    font-family: 'Nunito-ExtraBold';
    font-size: 12px;
}

@media only screen and (max-width: 700px) {
    .buttonContainer :global(.vtex-button) {
        background: black;
        border: none;
        border-radius: 0px 8px 8px 0px;
        margin-left: -14px;
        border-right: 2px solid black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .buttonContainer :global(.vtex-button__label) {
        color: white;
    }

    .imageElement--bannerBodega {
        display: none;
    }
    .imageElement--imgINSTAGRAM {
        margin: auto;
        display: block;
        position: absolute;
        left: 24px;
        top: 65px;
        width: 85%;
    }
    .imageElement--imgINSTAGRAM2 {
        margin: auto;
        display: block;
        position: absolute;
        left: 24px;
        top: 147px;
        width: 85%;
    }
    .imageElement--imgINSTAGRAM3 {
        margin: auto;
        display: block;
        position: absolute;
        left: 24px;
        top: 230px;
        width: 85%;
    }
    .productBrand {
        font-size: 10px !important;
        font-family: 'Baskerville';
        line-height: 0.7em;
    }
}
.imageElement--bannerBodega {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.productNameContainer {
    text-align: initial;
    min-height: 52px;
    line-height: 0.7em;
}
.productBrand {
    font-size: 12px;
    font-family: 'Baskerville';
}
