
.flexRow--contenidoMediosdepago{
  background: #C7C7C7;
}
.flexRowContent--contenidoMediosdepago{
  background: #C7C7C7;
  height: 127px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}
.flexRowContent--mediosDePagos{
  display: flex;
  align-items: center;
}

.flexRowContent--estilosHablemos{
  display: flex;
  align-items: center;
}

.flexRow--mediosDePagos {
  background:url(assets/Line7.svg) bottom right no-repeat;
}



.flexRow--contenidoMediosdepago .stretchChildrenWidth{
  padding: 28px;
}


@media only screen and (max-width: 1025px) {

  .flexRowContent--mediosDePagos {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .flexRowContent--estilosHablemos{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .flexRow--mediosDePagos {
    background:none;
  }
  .flexRow--contenidoMediosdepago .stretchChildrenWidth{
    padding: 0px;
  }


}


/* BLOQUE TIENDA */

.flexRow--contenidoSlider{
  padding: 30px;
}


.flexRowContent--contenidoTienda{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* FIN BLOQUE TIENDA */



/* BLOQUE MAS VENDIDOS */


.flexRow--contenidoNovedades{
  width:90%;
  margin: auto; 
  border-bottom: 2px solid black;
}
.flexRow--contenidoDestacados{
  margin-bottom: 40px;
}
.flexRow--destacadosDos{
  margin-top: 20px;
}

.flexRow--contenidoMarcasLideres{
  width:90%;
  margin: auto; 
  border-top: 2px solid black;
}

.flexRow--styleContenido :global(.vtex-slider-layout-0-x-paginationDotsContainer){
  margin-top:100px;
  top: 0px;
}


@media only screen and (max-width: 1025px) {
  .flexRow--contenidoNovedades{
    width:100%;
    margin: auto; 
    color: white;
    background-color: black;
    display: none;
  }
  .flexRow--contenidoBodegas{
    display: none;
  }
  .flexRow--bodegasContent{
    display: none;
  }
  .flexRow--destacadosDos{
    display: none;
  }
}




/* FIN  MAS VENDIDOS  */


/* BLOQUE INFOCARDT */


.flexRowContent--contenedorInfoCart{
  padding: 30px;
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--contenedorInfoCart{
    display: flex;
    flex-direction: column;
    padding: 0px;
   align-items: center;
}

.flexRowContent--contenedorInfoCart{
  margin-top: 20px;
  margin-bottom: 20px;
}

.flexRow--contenidoSlider {
  margin: 5px 0px 73px 0px;
}
.flexRow--contenidoSeguinos{
  margin: 25px 0px 55px 0px;
}
  
}

@media only screen and (max-width: 640px) {
  .flexRowContent--contenedorInfoCart{
    padding: 10px;
  }
}


/* FIN BLOQUE INFOCARD  */


/* BLOQUE MARCAS */

.flexRow--contenidoMarca{
  width:110px;
}

/* FIN BLOQUE MARCAS */




/* BLOQUE BLOG */

.flexCol--card{
  border: solid 1px #96969666;
  height: 315px;
  border-radius: 18px;
  position: relative;
  margin-left: 15px;
  box-shadow: 1px 1px 6px #b7b7cb;
  margin-top: 40px;
}
.flexRow--mobile{
  display: none;
  border: solid 1px #96969666;
  height: 315px;
  border-radius: 18px;
  position: relative;
  margin-left: 15px;
  box-shadow: 1px 1px 6px #b7b7cb;
  margin-top: 40px;
}

.flexCol--cartPrensa{
 background: #BABABA;
}

.flexColContent--contenidoBlog {
  padding: 15px;
}
.flexRowContent--contenidoBlog{
  margin-bottom: 40px;
}


@media only screen and (max-width:1025px) {
  .flexCol--cartPrensa{
    display: none;
  }
  .flexCol--cartBlog{
    display: none;
  }
  .flexCol--card {
    display: none;
  }
  .flexRowContent--contenidoBlog{
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }

  .flexCol--card{
    border: solid 1px #96969666;
    height: 270px;
  }

  .flexRow--mobile{
    display: block;
    border: solid 1px #96969666;
    height: 315px;
    border-radius: 18px;
    position: relative;
    box-shadow: 1px 1px 6px #b7b7cb;
    margin-top: 40px;
    margin: -15px 30px 15px 25px !important;

  }

}


/* BLOQUE NEWS */

:global(.vtex-store-components-3-x-label) {
  display: none;
}





.flexRow--newsStyle{
  border-top: 2px solid #BABABA;
  border-bottom: 2px solid #BABABA;
  display: flex;
}








/* FOOTER */


.flexRowContent--contenidoLogos{
  display: flex;
  flex-direction: column;
}

.flexRowContent--footer-menu-wrapper{
  padding: 40px;
}



.flexRow--footer-desktop-redes-izquierda{
  margin-left: 60px;
}


/* BLOQUE BODEGA */


.flexRow--bodegasContent{
  margin-top: 40px;
  display:flex;
}

.flexRow--EspecialesContent{
  margin-top: 40px;
  display:flex;
}

.flexRow--novedadesMobileBarra{
  margin-bottom: 40px;
}



.flexRowContent--ContentBannerMobile{
  display: none;
}



@media only screen and (max-width: 1025px) {
 
  .flexRowContent--newsStyle{
    flex-direction: column;
  }
  .flexRow--newsStyle {
    border-top: 2px solid #b8aa85;
    border-bottom: 2px solid #b8aa85;
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
}
.flexRowContent--ContentBannerMobile{
  display: block !important;
  padding: 20px;
}
.flexRow--EspecialesMobileBarra{
  display: none;
}
.flexRow--bodegasContent{
  display: none;
}
.flexRow--EspecialesContent{
  display: none;
}
.flexRow--ContentBannerBodegaMobile{
  padding: 30px;
}
.flexRow--novedadesMobileBarra{
  display: none;
}
}
