.flexRow--contenidoMediosdepago{
  background: #C7C7C7;
}
.flexRowContent--contenidoMediosdepago{
  background: #C7C7C7;
  height: 127px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}
.flexRowContent--mediosDePagos{
  display: flex;
  align-items: center;
}

.flexRowContent--estilosHablemos{
  display: flex;
  align-items: center;
}

.flexRow--mediosDePagos {
  background:url(assets/Line7.svg) bottom right no-repeat;
}



.flexRow--contenidoMediosdepago .stretchChildrenWidth{
  padding: 28px;
}


@media only screen and (max-width: 1025px) {

  .flexRowContent--mediosDePagos {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .flexRowContent--estilosHablemos{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .flexRow--mediosDePagos {
    background:none;
  }
  .flexRow--contenidoMediosdepago .stretchChildrenWidth{
    padding: 0px;
  }


}


/* BLOQUE TIENDA */

.flexRow--contenidoSlider{
  padding: 30px;
}


.flexRowContent--contenidoTienda{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* FIN BLOQUE TIENDA */



/* BLOQUE MAS VENDIDOS */


.flexRow--contenidoNovedades{
  width:90%;
  margin: auto; 
  border-bottom: 2px solid black;
}



