.paginationDot {
   display: none;
}



.sliderLayoutContainer--sliderMasVendidos{
    margin: 20px auto;
    margin-bottom: 40px;
    width: 95% !important;
}



.sliderLayoutContainer--sliderNovedades{
    margin: 20px auto;
    margin-bottom: 20px;
    margin-bottom: 40px;
    width: 95%;
  
}

.sliderLayoutContainer--sliderDestacados{
    margin: 20px auto;
    margin-bottom: 20px;
    margin-bottom: 40px;
    width: 95%;
  
}

.sliderLayoutContainer--sliderdestacados2{
    margin: 20px auto;
    margin-bottom: 20px;
    margin-bottom: 40px;
    width: 95%;
  
}

.paginationDot--isActive {
    background-color: grey !important;
}



@media only screen and (min-width: 1442px) {
    .sliderLayoutContainer--sliderMasVendidos{
        margin: 20px auto;
        margin-bottom: 40px;
        width: 85%;
    }
}

@media only screen and (max-width: 1440px) {
  
}


@media only screen and (max-width: 1025px) {

    .paginationDot {
        display: block;
     }
     
    .paginationDot--isActive {
        background-color: grey !important;
    }
}

@media only screen and (max-width: 700px) {

    .sliderLayoutContainer--shelf-default{
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .paginationDotsContainer{
        bottom: -25px;
    }
    
}


.paginationDotsContainer--carousel {
    bottom: -15px;
}

.paginationDotsContainer--sliderMasVendidos{
    bottom: -25px;
}

.sliderLayoutContainer--sliderBodegas1{
    margin-bottom: 20px;
    margin-right: 25px;
}

.paginationDotsContainer :global(.vtex-slider-layout-0-x-paginationDot--dotMarcas ){
    display: block !important;
}

